/**
 *
 *
 * Structural Layout | START
 *
 *
 */

.page {
	width: 1152px;
}

.main, .header, #nav, .footer {
	width: 98%;
	padding: 10px 1%;
}

/* 2-column layout */
.col2-right-layout .col-main, .col2-left-layout .col-main {
	width: 72%;
	padding: 5px 0.5%;
}

.col2-right-layout .col-right, .col2-left-layout .col-left {
	width: 24%;
	padding: 5px 0.5%;
}

/* 3-column layout */
.col3-layout .col-wrapper {
	width: 75%;
	padding: 5px 0.5%;
}

.col3-layout .col-wrapper .col-main {
	width: 67%;
	margin-left: 1%;
	padding: 5px 1%;
}

.col3-layout .col-right, .col3-layout .col-left {
	width: 21%;
	padding: 5px 0.5%;
}

.col3-layout .col-wrapper .col-left {
	width: 28.3%;
	padding: 5px 0.5%;
}

/* ---------------- Structural Layout | END ---------------- */

/**
 *
 *
 * Element Design | START
 *
 *
 */

body {
	font: 12px/1.35 'Source Sans Pro', Arial, Helvetica, sans-serif;
	color: #363636;
}

input, select, textarea, button {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.page-title h1, .page-title h2, input, select, textarea, button, a, .form-list label, #nav li a {
	color: #363636;
}

h1, .page-title h1 {
	font-size: 2.15em;
	font-weight: 200;
}

h2, .page-title h2, .block .block-title strong {
	font-size: 1.75em;
}

a {
	text-decoration: none;
}

.block .block-subtitle {
	font-size: 1.4em;
}

a:hover, a:active, #nav li.over a, #nav li.active a {
	color: #0A0A0A;
}

h2, .page-title h2, .block .block-title strong, .block .block-subtitle, .regular-price .price {
	font-weight: 300;
}

strong, .form-list label, .block-progress dt, .data-table th, .header .welcome-msg, button.button span, .availability span, .link-wishlist, .link-compare {
	font-weight: 600;
}

.header, .col-main, .footer, .col-right, .col-left, .block, .block .block-title, .page-title, .breadcrumbs, #nav, .sorter, .pager {
	border: none;
}

button.button {
	border: 1px solid #999;
}

button.button span, button.button span span {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	background: none;
	color: #333;
}

#nav li a {
	font-size: 1.2em;
	font-weight: 400;
}

.products-grid .product-name {
	font-size: 1.6em;
	font-weight: 400;
}

.regular-price .price {
	font-size: 1.4em;
}

.products-grid .actions {
	position: inherit;
	bottom: 0;
}

button.button.btn-cart {
	overflow: hidden;
}

button.button.btn-cart span, button.button.btn-cart span span {
	font-size: 1.1em;
	font-weight: 400;
	line-height: 2.5em;
	padding: 0;
	height: inherit;
}

button.button.btn-cart > span {
	padding: 0 8% 0 4%;
	float: left;
}

.btn-cart .font-awesome {
	float: left;
	padding: 0.25em 4% 0.25em 8%;
	font-size: 2em;
	line-height: 1em;
}

/* ---------------- Element Design | END ---------------- */
