/**
 *
 *
 * Structural Layout | START
 *
 *
 */

.page {
	width: auto;
	padding: 0;
}

.main-container {
	width: 98%;
	max-width: 1152px;
	margin: 0 auto;
	padding-top: 72px;
}

.header-container {
	width: 100%;
	position: fixed;
	z-index: 2;
}

.main, .header, .footer {
	width: 98%;
	padding: 10px 1%;
	margin: 0;
}

.header {
	padding: 0 1%;
}

.nav-container {
	float: left;
}

/* 1-column layout */
.col1-layout .products-grid {
	width: auto;
}

/* 2-column layout */
.col2-right-layout .col-main, .col2-left-layout .col-main {
	width: 72%;
	padding: 5px 0.5%;
}

.col2-right-layout .col-right, .col2-left-layout .col-left {
	width: 24%;
	padding: 5px 0.5%;
}

/* 3-column layout */
.col3-layout .col-wrapper {
	width: 75%;
	padding: 5px 0.5%;
}

.col3-layout .col-wrapper .col-main {
	width: 67%;
	margin-left: 1%;
	padding: 5px 1%;
}

.col3-layout .col-right, .col3-layout .col-left {
	width: 21%;
	padding: 5px 0.5%;
}

.col3-layout .col-wrapper .col-left {
	width: 28.3%;
	padding: 5px 0.5%;
}

.vertical-align-middle-parent {
	display: table;
}

.vertical-align-middle {
	display: table-cell !important;
	vertical-align: middle;
}

/* ---------------- Structural Layout | END ---------------- */

/**
 *
 *
 * Element Design | START
 *
 *
 */

body {
	font: 12px/1.35 'Source Sans Pro', Arial, Helvetica, sans-serif;
	color: #363636;
}

input, select, textarea, button {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.page-title h1, .page-title h2, input, select, textarea, button, a, .form-list label, #nav li a {
	color: #363636;
}

h1, .page-title h1 {
	font-size: 2.5em;
	font-weight: 200;
}

h2, .page-title h2, .block .block-title strong {
	font-size: 1.75em;
}

a {
	text-decoration: none;
}

.block .block-subtitle {
	font-size: 1.4em;
}

a:hover, a:active, #nav li.over a, #nav li.active a {
	color: #0A0A0A;
}

h2, .page-title h2, .block .block-title strong, .block .block-subtitle, .regular-price .price {
	font-weight: 300;
}

strong, .form-list label, .block-progress dt, .data-table th, .header .welcome-msg, button.button span, .availability span, .link-wishlist, .link-compare {
	font-weight: 600;
}

.header, .col-main, .footer, .col-right, .col-left, .block, .block .block-title, .page-title, .breadcrumbs, #nav, .sorter, .pager, .buttons-set {
	border: none;
}

button.button {
	border: 1px solid #DDD;
}

button.button span, button.button span span {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	background: none;
	color: #333;
}

#nav ul, #nav div {
	top: 78px;
	background: #FFF;
}

#nav ul li {
	padding: 6px;
}

.products-grid .product-name {
	font-size: 1.75em;
	font-weight: 400;
}

.regular-price .price {
	font-size: 1.75em;
}

.products-grid li.item {
	width: 22%;
	padding: 20px 1.5%;
	position: relative;
	overflow: hidden;
}

.products-grid li.item:hover {
	background: #F8F8F8;
}

.col2-left-layout .products-grid, .col2-right-layout .products-grid {
	width: auto;
}

.products-grid .product-image, .products-grid .product-image img {
	width: 100%;
	height: auto;
}

.products-grid .actions {
	position: inherit;
	bottom: 0;
}

.products-grid .product-name {
	padding: 12px 0 6px;
}

.products-grid .product-name, .products-grid .price-box, .products-grid .actions {
	text-align: center;
}

button.button.btn-cart, .product-url-floater {
	overflow: hidden;
	border-radius: 50%;
	height: 64px;
	width: 64px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: -30%;
	border: none;
	background: #63C1C6;
	color: #FAFAFA;
}

button.button.btn-cart span, button.button.btn-cart span span {
	font-size: 1.1em;
	font-weight: 400;
	line-height: 2.5em;
	padding: 0;
	height: inherit;
}

button.button.btn-cart > span {
	padding: 0 2% 0 1%;
	float: left;
}

button.button.btn-cart:hover {
	color: #EEE;
}

.product-url-floater {
	top: 30%;
	font-size: 2.5em;
	background: #D82D46;
	color: #FAFAFA;
}

.product-url-floater:hover {
	background: #D82D46;
	color: #EEE;
}

.products-grid li.item:hover button.button.btn-cart, .products-grid li.item:hover .product-url-floater {
	right: 10%;
}

.btn-cart .font-awesome {
	font-size: 2.5em;
	line-height: 1em;
}

.header .logo {
	margin: 2px 0 0 24px;
}

.header .links {
	float: left;
}

.header .links li {
	float: left;
}

.header .links .font-awesome {
	font-size: 1em;
	padding-right: 8px;
	margin-top: 4px;
}

.header .links .top_link_jacket {
	padding: 14px 0;
	float: left;
}

.header .links.custom a {
	padding: 8px 12px;
	margin: 0 9px;
}

.nav-container {
	float: left;
	margin: 0 12px 0 40px;
}

#nav {
	font-size: 1em;
	margin: 0;
}

#nav li a.level-top {
	padding: 18px 32px 19px;
}

#nav li a {
	padding: 8px 20px;
}

#nav li .shown-sub ul.shown-sub, #nav li .shown-sub li div.shown-sub {
	left: 216px;
}

#nav ul ul, #nav ul div {
	top: -1px;
}

#nav .level-top > span, .header .links.custom a {
	font-size: 1.75em;
	font-weight: 300;
}

#nav .level-top > span {
	float: left;
	font-weight: 400;
}

#nav a.level-top .font-awesome {
	position: inherit;
	width: auto;
	float: left;
	font-size: 1.75em;
	padding-right: 8px;
	margin-top: 4px;
	background: transparent;
	border: none;
}

.footer-container li a {
	padding: 4px 12px;
	display: block;
}

.footer ul {
	float: left;
}

.footer ul.links {
	margin-left: 5%;
}

.header .links a, .products-grid li.item, .btn-cart, .product-url-floater {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.product-url-floater {
	-webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/* ---------------- Element Design | END ---------------- */
