::selection {
	background: #2A95C9;
}
::-moz-selection {
	background: #2A95C9;
}

.wrapper {
	background: #FFF;
}

.header-container {
	background: #3C3C3C;
	border-bottom: 6px solid #63C1C6;
}

#nav {
	background: #333;
}

.footer-container {
	background: #484848;
}

.header-container, #nav, .footer-container {
	color: #F2F2F2;
}

.header-container a, #nav a, .footer-container a {
	color: #F2F2F2;
}

#nav li a:hover {
	color: #EAEAEA;
}

.header-container button span span, #nav li a, #nav li.active a {
	color: #F2F2F2;
}

.header .links a, #nav, button.search_button {
	display: block;
	background: #4A4A4A;
	border-radius: 6px;
	box-shadow: inset 0px -1px 3px #161616;
	padding: 0;
}

.header .links a:active, #nav:active, button.search_button:active {
	box-shadow: inset 1px 1px 3px #161616;
}

button.search_button {
	display: inline;
	padding: 10px 14px 11px;
	border-radius: 0 6px 6px 0;
}

input.top-search-input {
	width: 200px;
	padding: 11px;
	font-size: 1.3em;
	color: #565656;
	background: #FAFAFA;
	border: none;
	border-radius: 6px 0 0 6px;
}

.header .links a {
	margin: 0 3px;
	overflow: hidden;
}

.header .links a:hover, #nav:hover {
	background: #525252;
	color: #F6F6F6;
	box-shadow: inset 0px -1px 3px #161616;
}

.top_link_jacket.type_1 {
	background: #63C1C6;
}

.top_link_jacket.type_1 .top_link, .top_link_jacket.type_1 #nav {
	background: #536A81;
	box-shadow: inset 0px -1px 3px #2F3A46;
}

.top_link_jacket.type_1 .top_link:hover, .top_link_jacket.type_1 #nav:hover {
	background: #335B83;
	box-shadow: inset 0px -1px 3px #2F3A46;
}

.top_link_jacket.type_transparent {
	background: #63C1C6;
	font-size: 1.25em;
}

.top_link_jacket.type_transparent:hover {
	background: #1899A0;
}

.top_link_jacket.type_transparent #nav, .top_link_jacket.type_transparent #nav:hover {
	background: transparent;
	box-shadow: none;
}
